.hide {
  @include hide-text();
}

/* ============================================================
    Sections
============================================================ */

.clearfix {
  @include clearfix;
}

body, body * {
  @include box-sizing(border-box);
//  border: 1px solid rgba(255,0,0,0.5);
}

body {
  margin: 0 auto;
  padding: 0; /* Temporary */
  color: $color_default_text;
  font: #{$font-base}/lh(1) $para_fontstack;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  background: $color_background;
}

nav { 
  ul {
    list-style: none;
  }
}

h1 {
  margin: em(24px) 0 0 0;
  color: $color_2;
  font: 500 #{em(60px)}/#{em(19px)} $heading_fontstack; 
  letter-spacing: -0.075em;
}
h2 {
  margin: em(12px) 0 0 0;
  padding: 11px 0 0 0;
  color: $color_2;
  font: 300 #{em(36px)}/#{em(19px)} $heading_fontstack;
  letter-spacing: -0.075em;
}
h3 {
  margin: em(20px) 0 0 0;
  color: $color_4;
  font: 300 #{em(24px)}/#{em(17px)} $heading_fontstack;
}
h4, h5, h6 {
  margin: $margin_default 0 4px 0;
  color: lighten($color_4,20%);
  font: 300 #{em(18px)}/#{em(16px)} $heading_fontstack;
}


/* ============================================================
    Grouping content
============================================================ */
p, pre, ol, ul, dl, figure, figcaption, table, fieldset {
  margin: $margin_default 0 $margin_default 0;
}

pre {
  white-space: pre-line;
}

hr {
  clear: both;
  display: block;
  height: 0;
  padding: 0;
  font: 600 #{em(30px)}/#{em(16px)} 'Akagi SemiBold', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  margin: em(16px) 0 2em 0;
  border: 0;
}

hr::after {
  content: "...";
  height: 0;
  padding-left: 1em;
  color: #bbb;
  letter-spacing: 1em;
}

blockquote {
  color: $color_3;
//  font: 300 0.9375em/1.6 'Akagi Book','Helvetica Neue',Arial,sans-serif;
  border-left: 0.25em solid $color_borders;
  margin: em(17px) 0 em(25px) 0;
  padding: 0 em(25px) 0 1.334em;  
  p {
    line-height: 1.6;
    margin: em(9px) 0;
  }
}
blockquote, q {
  quotes:none;
  &:before, &:after {
    content:'';
    content:none;
  }
}

ul {
  list-style-type: inherit;
  ul, ol {
    margin-top: 0;
  }
}
ol {
  list-style-type: decimal;
}
li, dd {
  margin-left: em(29px);
}
li li {
  margin-top: 0;
}
dt {
  font-family: 'Proxima Nova Bold',sans-serif;
  font-weight: bold;
}

figcaption, caption {
  margin: $margin_default 0;
  line-height: 1em;
  color: lighten($color_4,50%);
  font-size: em(14px);
  font-family: 'Proxima Nova Regular',sans-serif;
  text-align: left;
  caption-side: bottom;
}

figure {
  img {
    width: 100%;
  }
}

.example {
  outline: 1px solid #EEE;
  margin: $margin_default 0 em(16px) 0;
  padding: em(8px) em(16px) em(12px) em(16px);
}


/* ============================================================
    Text-level semantics
============================================================ */
a {
  color: $color_2;
  font-size: 100%;
  font-family: arial ,sans-serif;
  text-decoration: none;
}
.main a {
  &:hover,
  &:focus {
    $my_color: darken($color_2, 10%);
    color: $my_color;
    border-bottom: 1px solid $my_color;
  }
}

em, em a, i, var, samp, cite, cite a {
  font: italic 300 #{em(16px)}/90% $para_fontstack;
}
strong, b {
  font-weight: 600;
}

:lang(en-gb)>q {
  quotes:"\201C" "\201D" "\2018" "\2019";
}
q {
  &::before {
    content: open-quote;
  }
  &::after {
    content: close-quote;
  }
}

small {
    font-size: em(14px); /* 14px */
    line-height: em(16px); /* em(16px) */
}
dfn[title] {
  border-bottom: 1px dotted rgba(0,0,0,0.2);
  cursor: help;
}
abbr {
  letter-spacing: 1px;
  &[title]:hover {
    @extend dfn[title];
  }
}
time {
  color: lighten($color_4,50%);
  font-family: arial ,sans-serif;
  font-size: em(12px); 
  line-height: em(16px);
  text-transform: uppercase;
}
code, samp {
  font: #{em(16px)}/90% $code_fontstack;
}
code {
  color:$color_2;
}
.code {
  margin: em(16px) 0 0 em(40px);
  font: #{em(16px)}/1.7143 $code_fontstack;
  color: #999;
  li {
    list-style: decimal-leading-zero;
    background: #F0F0F0;
    margin: 0 0 -1px 0;
    border-top: 1px solid white;
    padding: 0 0.5em;    
  }  
  .tab1 {
    padding-left: 4ex;
  }
}
kbd {
  margin: 0 0.4px 0;
  padding: em(5px) em(6px);
  background-color: lighten($color_2,60%);
  color: darken($color_2,20%);
  font: normal #{em(14px)}/90% sans-serif; 
  border: 1px solid lighten($color_2,50%);
  @include border-radius(4px);
  @include background-clip(padding-box);
}
sub {
  font-size: smaller;
  line-height: 90%;
  vertical-align: sub;
}
sup {
  font-size: smaller;
  line-height: 90%;
  vertical-align: super;
}

/* ============================================================
    Edits
============================================================ */
mark, ins {
  color: $color_4;
  background-color: lighten($color_2,20%);
  text-decoration:none;
}
del {
  text-decoration: line-through;
}


/* ============================================================
    Tabular data
============================================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  padding: em(8px) em(25px) em(8px) 0;
  border-bottom: 1px solid lighten($color_4,80%);
  text-align: left;
}
th {
  padding: em(8px) 0 em(7px) 0;
  border-bottom-color: lighten($color_4,80%);
  color: $color_2;
  font: 500 #{em(17px)}/#{em(16px)} $heading_fontstack;
  vertical-align: bottom;
}
td {
  vertical-align: top;
}


/* ============================================================
    Forms
============================================================ */

legend {
  @extend h2;
  padding-bottom: em(8px);
}
.field {
  width: 100%;
  @include respond-min(em(480px)) {
    width: 50%;
    &.small {
      width: em(80px);
    }
    &.medium {
      width: em(240px);
    }
    &.large {
      width: em(320px);
    }
  }
  padding: em(6px) em(8px);
  background-color: lighten($color_4,88%);
  border: 1px solid lighten($color_4,60%);
  box-shadow: inset 0 0.05em 0.65em rgba(0,0,0,0.055);
  font: #{em(16px)}/#{em(24px)} sans-serif;
}
label {
  display: block;
  margin: em(4px) 0;
  font-weight: 400;
  line-height: 1.5;
  @include respond-min($super-desktop) {
    float: left;
    width: 20%;
  }
  &.check {
    font-weight: normal;
    float: none;
  }
}
input[type="radio"],input[type="checkbox"] {
  margin-right: em(8px);
}
fieldset {
  div {
    margin: $margin_default 0;
  }
  abbr[title="Required"] {
    color: #900;
    font:normal #{em(20px)}/0.1 sans-serif;
    border-bottom: 0 none;
  }
  em {
    display: block;
    margin: em(4px) 0;
    @include respond-min($super-desktop) {
      margin-left: 20%;
    }
    color: lighten($color_4,25%);
    font-family: sans-serif;
    font-style: normal;
    font-size: em(14px); 
    line-height: em(16px); 
  }
  &.options {
    clear: left;
    ul {
      margin: em(4px) 0;
      @include respond-min($super-desktop) {
        margin-left: 20%;
      }
      list-style: none;
      li {
        margin-left: 0;
      }
      label {
        float: none;
        width: auto;
        font-weight: normal;
      }
    }
  }
}
.submit {
  padding: $margin_default 0 0 0;
}

#container {
  margin: 0 auto;
}

/* ============================================================
    Buttons
============================================================ */

button, input[type='submit'], input[type='button'], .button, a {
  @include single-transition(all 0.05s ease-in-out);
}
button, input[type='submit'], input[type='button'], .button {
  -webkit-appearance: none;
  display: inline-block;
  padding: em(13px) em(16px);
  border: 0;
  background: $color_2;
  font: 100%/1 $para_fontstack;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 em(2px) em(4px) rgba(0,0,0,0.25);
  &:hover {
    background: lighten($color_2,10%);
  }  
  &:active {
    background: darken($color_2,10%);
    box-shadow: 0 em(2px) em(4px) rgba(0,0,0,0.25), inset 0 em(2px) em(4px) rgba(0,0,0,0.25);
  }
}