@import "utilities/keyframe_animations";
@import "utilities/shapes";
@import "utilities/responsive";
@import "utilities/transforms";
@import "utilities/typography";
@import "utilities/forms";

@mixin min-height($height) { 
  min-height: $height;
  height: auto !important;
  height: $height; 
} 
@mixin size($width,$height:$width) {
  width: $width;
  height: $height;
}

@mixin middle-me($width:0,$height:0) {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  margin: (-($height/2)) 0 0 (-($width/2));       
  width: $width;
  height: $height;       
}                               

@mixin background-image-retina($file, $type, $width, $height) {
  background-image: image-url($file + '.' + $type);

  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background-image: image-url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
    }
  }
}

@mixin hover_button($color_main: #000, $color_hover:$color_main, $color_active:$color_main) {
  @content;
  background-color: $color_main;
  &:hover {
    background: lighten($color_hover,10%);
    color: #fff;
  }  
  &:active {
    background: darken($color_active,10%);
    box-shadow: 0 em(2px) em(4px) rgba(0,0,0,0.25), inset 0 em(2px) em(4px) rgba(0,0,0,0.25);
  }
}
