$height_nav: 50px;

body {
  margin-top: $height_nav*2;
  @include respond-max(em(480px)) {
    padding-left: em(16px);
    padding-right: em(16px);
  }
  @include respond-min(em(480px)) {
    padding-left: em(32px);
    padding-right: em(32px);
  }
}

.container {
  position: relative;
  @include respond-min($desktop) {
    margin: 0 auto;
    max-width: em(960px);
  }
}

/* 

top nav 

*/

#top-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: $height_nav;
  background: $color_3;
}
#top-nav {
  @extend nav;
  float: left;
  ul {
    margin: 0;
    padding: 0;
  }
  ul, li, a {
    height: $height_nav;
    line-height: $height_nav;
  }
  li {
    float: left;
    margin: 0; 
  }
  a {
    float: left;
    display: block;
    padding: 0 em(16px);
    color: #fff;
    &:hover {
      color: #fff;
      background-color: lighten($color_3,20);
    }
  }
}
#account-nav {
  @extend nav;
  @include single-transition('background-color', 0.15s, ease-out);
  position: relative;
  width: em(75px);
  height: $height_nav;
  float: right;
  background: image-url("nav/account.png") no-repeat 0 0;
  &:hover {
    cursor: pointer;
  }
  &:hover, &.on {
    background-color: lighten($color_3,10);
    background-position: 0 -50px;
  }
  &.on {
   ul {
     display: block;
   }
  }
  ul {
    z-index: 10;
    display: none;
    position: absolute;
    right: 0;
    top: $height_nav;
    padding: 0;
    margin: 0;
    width: em(185px);
    background-color: lighten($color_3,10);
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    a {
      display: block;
      padding: em(8px) em(16px);
      color: #fff;
      &:hover {
        color: #fff;
        background-color: lighten($color_3,20);
      }
    }
  }
}