
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  body {
    padding-left: 1em;
    padding-right: 1em;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

}

@media only screen and (min-width: 481px) {
  body {
    padding: 0 2em;
  }
  .shell {
    position: relative;
    margin: 0 2em;
  }
  .field {
    width: 50%;
  }
  .field.small {
    width: 5em;
  }
  .field.medium {
    width: 15em;
  }
  .field.large {
    width: 20em;
  }
}
/* Desktops and laptops (CJC) ----------- */
@media only screen and (min-width: 998px) {

  label {
    display: block;
    float: left;
    width: 20%;
    &.check {
      font-weight: normal;
      float: none;
    }
  }
  fieldset {
    em {
      margin-left: 20%;
    }
    &.options {
      ul {
        margin-left: 20%;
      }
    }
  }

}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
	

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

}