$color_1: #004978; // main blue
$color_2: #ff6170; // pink
$color_3: #028FD7; // light blue
$color_4: #6a4282; // purple
$color_default_text: #555555;
$color_background: #fff;
$color_borders: #ccc;

$heading_fontstack: Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", sans-serif;
// Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
// Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif;
// Didot,"Bodoni MT", "Century Schoolbook", "Niagara Solid", Utopia, Georgia, Times, "Times New Roman", serif;

$para_fontstack: Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", sans-serif;
$code_fontstack: Monaco, Menlo,'Courier New',Courier,monospace;

$font-base: 16px;
$font-base-line-height: 24px;


$margin_default: 0.9em;

$mobile: 25em; // 400px
$desktop: 60em; // 960px
$super-desktop: 62.375em; //998px