/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/
/* line 17, /Users/ccheshir/.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, legend, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, #top-nav, #account-nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/ccheshir/.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/ccheshir/.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/ccheshir/.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/ccheshir/.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/ccheshir/.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/ccheshir/.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/ccheshir/.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/ccheshir/.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, #top-nav, #account-nav, section, summary {
  display: block;
}

/* line 1, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
.hide {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

/* ============================================================
    Sections
============================================================ */
/* line 9, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 13, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
body, body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
body {
  margin: 0 auto;
  padding: 0;
  /* Temporary */
  color: #222222;
  font: 16px/1.5em "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  background: white;
}

/* line 30, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
nav ul, #top-nav ul, #account-nav ul {
  list-style: none;
}

/* line 35, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
h1 {
  margin: 1.5em 0 0 0;
  color: #056eb6;
  font: 500 3.75em/1.1875em Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif;
  letter-spacing: -0.075em;
}

/* line 41, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
h2, legend {
  margin: 0.75em 0 0 0;
  padding: 11px 0 0 0;
  color: #056eb6;
  font: 300 2.25em/1.1875em Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif;
  letter-spacing: -0.075em;
}

/* line 48, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
h3 {
  margin: 1.25em 0 0 0;
  color: #222222;
  font: 300 1.5em/1.0625em Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif;
}

/* line 53, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
h4, h5, h6 {
  margin: 0.9em 0 4px 0;
  color: #555555;
  font: 300 1.125em/1em Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif;
}

/* ============================================================
    Grouping content
============================================================ */
/* line 63, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
p, pre, ol, ul, dl, figure, figcaption, table, fieldset {
  margin: 0.9em 0 0.9em 0;
}

/* line 67, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
pre {
  white-space: pre-line;
}

/* line 71, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
hr {
  clear: both;
  display: block;
  height: 0;
  padding: 0;
  font: 600 1.875em/1em "Akagi SemiBold", "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  margin: 1em 0 2em 0;
  border: 0;
}

/* line 82, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
hr::after {
  content: "...";
  height: 0;
  padding-left: 1em;
  color: #bbb;
  letter-spacing: 1em;
}

/* line 90, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
blockquote {
  color: #666666;
  border-left: 0.25em solid #cccccc;
  margin: 1.0625em 0 1.5625em 0;
  padding: 0 1.5625em 0 1.334em;
}
/* line 96, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
blockquote p {
  line-height: 1.6;
  margin: 0.5625em 0;
}

/* line 101, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
blockquote, q {
  quotes: none;
}
/* line 103, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 109, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
ul {
  list-style-type: inherit;
}
/* line 111, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
ul ul, ul ol {
  margin-top: 0;
}

/* line 115, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
ol {
  list-style-type: decimal;
}

/* line 118, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
li, dd {
  margin-left: 1.8125em;
}

/* line 121, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
li li {
  margin-top: 0;
}

/* line 124, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
dt {
  font-family: 'Proxima Nova Bold',sans-serif;
  font-weight: bold;
}

/* line 129, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
figcaption, caption {
  margin: 0.9em 0;
  line-height: 1em;
  color: #a2a2a2;
  font-size: 0.875em;
  font-family: 'Proxima Nova Regular',sans-serif;
  text-align: left;
  caption-side: bottom;
}

/* line 140, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
figure img {
  width: 100%;
}

/* line 145, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
.example {
  outline: 1px solid #EEE;
  margin: 0.9em 0 1em 0;
  padding: 0.5em 1em 0.75em 1em;
}

/* ============================================================
    Text-level semantics
============================================================ */
/* line 155, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
a {
  color: #056eb6;
  font-size: 100%;
  font-family: arial ,sans-serif;
  text-decoration: none;
}

/* line 163, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
.main a:hover, .main a:focus {
  color: #045084;
  border-bottom: 1px solid #045084;
}

/* line 170, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
em, em a, i, var, samp, cite, cite a {
  font: italic 300 1em/90% "Helvetica Neue", sans-serif;
}

/* line 173, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
strong, b {
  font-weight: 600;
}

/* line 177, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
:lang(en-gb) > q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 181, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
q::before {
  content: open-quote;
}
/* line 184, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
q::after {
  content: close-quote;
}

/* line 189, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
small {
  font-size: 0.875em;
  /* 14px */
  line-height: 1em;
  /* em(16px) */
}

/* line 193, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
dfn[title], abbr[title]:hover {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  cursor: help;
}

/* line 197, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
abbr {
  letter-spacing: 1px;
}

/* line 203, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
time {
  color: #a2a2a2;
  font-family: arial ,sans-serif;
  font-size: 0.75em;
  line-height: 1em;
  text-transform: uppercase;
}

/* line 210, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
code, samp {
  font: 1em/90% Monaco, Menlo, "Courier New", Courier, monospace;
}

/* line 213, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
code {
  color: #056eb6;
}

/* line 216, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
.code {
  margin: 1em 0 0 2.5em;
  font: 1em/1.7143 Monaco, Menlo, "Courier New", Courier, monospace;
  color: #999;
}
/* line 220, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
.code li {
  list-style: decimal-leading-zero;
  background: #F0F0F0;
  margin: 0 0 -1px 0;
  border-top: 1px solid white;
  padding: 0 0.5em;
}
/* line 227, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
.code .tab1 {
  padding-left: 4ex;
}

/* line 231, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
kbd {
  margin: 0 0.4px 0;
  padding: 0.3125em 0.375em;
  background-color: #eef8ff;
  color: #023253;
  font: normal 0.875em/90% sans-serif;
  border: 1px solid #bde3fd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 241, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
sub {
  font-size: smaller;
  line-height: 90%;
  vertical-align: sub;
}

/* line 246, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
sup {
  font-size: smaller;
  line-height: 90%;
  vertical-align: super;
}

/* ============================================================
    Edits
============================================================ */
/* line 255, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
mark, ins {
  color: #222222;
  background-color: #28a4f9;
  text-decoration: none;
}

/* line 260, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
del {
  text-decoration: line-through;
}

/* ============================================================
    Tabular data
============================================================ */
/* line 268, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 272, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
td, th {
  padding: 0.5em 1.5625em 0.5em 0;
  border-bottom: 1px solid #eeeeee;
  text-align: left;
}

/* line 277, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
th {
  padding: 0.5em 0 0.4375em 0;
  border-bottom-color: #eeeeee;
  color: #056eb6;
  font: 500 1.0625em/1em Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif;
  vertical-align: bottom;
}

/* line 284, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
td {
  vertical-align: top;
}

/* ============================================================
    Forms
============================================================ */
/* line 293, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
legend {
  padding-bottom: 0.5em;
}

/* line 297, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
.field {
  width: 100%;
  padding: 0.375em 0.5em;
  background-color: white;
  border: 1px solid #bbbbbb;
  box-shadow: inset 0 0.05em 0.65em rgba(0, 0, 0, 0.055);
  font: 1em/1.5em sans-serif;
}
@media screen and (min-width: 30em) {
  /* line 297, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
  .field {
    width: 50%;
  }
  /* line 301, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
  .field.small {
    width: 5em;
  }
  /* line 304, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
  .field.medium {
    width: 15em;
  }
  /* line 307, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
  .field.large {
    width: 20em;
  }
}

/* line 317, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
label {
  display: block;
  margin: 0.25em 0;
  font-weight: 400;
  line-height: 1.5;
}
@media screen and (min-width: 62.375em) {
  /* line 317, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
  label {
    float: left;
    width: 20%;
  }
}
/* line 326, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
label.check {
  font-weight: normal;
  float: none;
}

/* line 331, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
input[type="radio"], input[type="checkbox"] {
  margin-right: 0.5em;
}

/* line 335, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
fieldset div {
  margin: 0.9em 0;
}
/* line 338, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
fieldset abbr[title="Required"] {
  color: #900;
  font: normal 1.25em/0.1 sans-serif;
  border-bottom: 0 none;
}
/* line 343, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
fieldset em {
  display: block;
  margin: 0.25em 0;
  color: #626262;
  font-family: sans-serif;
  font-style: normal;
  font-size: 0.875em;
  line-height: 1em;
}
@media screen and (min-width: 62.375em) {
  /* line 343, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
  fieldset em {
    margin-left: 20%;
  }
}
/* line 355, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
fieldset.options {
  clear: left;
}
/* line 357, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
fieldset.options ul {
  margin: 0.25em 0;
  list-style: none;
}
@media screen and (min-width: 62.375em) {
  /* line 357, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
  fieldset.options ul {
    margin-left: 20%;
  }
}
/* line 363, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
fieldset.options ul li {
  margin-left: 0;
}
/* line 366, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
fieldset.options ul label {
  float: none;
  width: auto;
  font-weight: normal;
}

/* line 374, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
.submit {
  padding: 0.9em 0 0 0;
}

/* line 378, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
#container {
  margin: 0 auto;
}

/* ============================================================
    Buttons
============================================================ */
/* line 386, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
button, input[type='submit'], input[type='button'], .button, a {
  -webkit-transition: all 0.05s ease-in-out, 1s;
  -moz-transition: all 0.05s ease-in-out, 1s;
  -o-transition: all 0.05s ease-in-out, 1s;
  transition: all 0.05s ease-in-out, 1s;
}

/* line 389, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
button, input[type='submit'], input[type='button'], .button {
  -webkit-appearance: none;
  display: inline-block;
  padding: 0.8125em 1em;
  border: 0;
  background: #056eb6;
  font: 100%/1 "Helvetica Neue", sans-serif;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.25);
}
/* line 400, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
button:hover, input[type='submit']:hover, input[type='button']:hover, .button:hover {
  background: #068ce8;
}
/* line 403, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_global.scss */
button:active, input[type='submit']:active, input[type='button']:active, .button:active {
  background: #045084;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.25), inset 0 0.125em 0.25em rgba(0, 0, 0, 0.25);
}

/* line 3, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
body {
  margin-top: 100px;
}
@media screen and (max-width: 30em) {
  /* line 3, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
  body {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media screen and (min-width: 30em) {
  /* line 3, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
  body {
    padding-left: 2em;
    padding-right: 2em;
  }
}

/* line 15, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
.container {
  position: relative;
}
@media screen and (min-width: 60em) {
  /* line 15, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
  .container {
    margin: 0 auto;
    max-width: 60em;
  }
}

/* 

top nav 

*/
/* line 29, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
#top-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #666666;
}

/* line 38, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
#top-nav {
  float: left;
}
/* line 41, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
#top-nav ul {
  margin: 0;
  padding: 0;
}
/* line 45, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
#top-nav ul, #top-nav li, #top-nav a {
  height: 50px;
  line-height: 50px;
}
/* line 49, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
#top-nav li {
  float: left;
  margin: 0;
}
/* line 53, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
#top-nav a {
  float: left;
  display: block;
  padding: 0 1em;
  color: #fff;
}
/* line 58, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
#top-nav a:hover {
  color: #fff;
  background-color: #999999;
}

/* line 64, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
#account-nav {
  -webkit-transition: "background-color" 0.15s ease-out;
  -moz-transition: "background-color" 0.15s ease-out;
  -o-transition: "background-color" 0.15s ease-out;
  transition: "background-color" 0.15s ease-out;
  position: relative;
  width: 4.6875em;
  height: 50px;
  float: right;
  background: url('/images/nav/account.png?1342541569') no-repeat 0 0;
}
/* line 72, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
#account-nav:hover {
  cursor: pointer;
}
/* line 75, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
#account-nav:hover, #account-nav.on {
  background-color: gray;
  background-position: 0 -50px;
}
/* line 80, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
#account-nav.on ul {
  display: block;
}
/* line 84, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
#account-nav ul {
  z-index: 10;
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  padding: 0;
  margin: 0;
  width: 11.5625em;
  background-color: gray;
}
/* line 94, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
#account-nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 99, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
#account-nav ul a {
  display: block;
  padding: 0.5em 1em;
  color: #fff;
}
/* line 103, /Users/ccheshir/Development/sinatra-bootstrap/views/stylesheets/_project.scss */
#account-nav ul a:hover {
  color: #fff;
  background-color: #999999;
}
