/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, legend, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p318@sinatra-bootstrap/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../views/stylesheets/_global.scss */
.hide {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

/* ============================================================
    Sections
============================================================ */
/* line 26, ../../views/stylesheets/_global.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 30, ../../views/stylesheets/_global.scss */
body, body * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 35, ../../views/stylesheets/_global.scss */
body {
  margin: 0 auto;
  padding: 0;
  /* Temporary */
  color: #222222;
  font: 100%/1.5 "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  background: white;
}

/* line 47, ../../views/stylesheets/_global.scss */
nav ul {
  list-style: none;
}

/* line 52, ../../views/stylesheets/_global.scss */
h1 {
  margin: 24px 0 0 0;
  color: #056eb6;
  font: 500 3.8em/1.2em Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
  letter-spacing: -0.075em;
}

/* line 58, ../../views/stylesheets/_global.scss */
h2, legend {
  margin: 22px 0 0 0;
  padding: 11px 0 0 0;
  color: #056eb6;
  font: 300 2.3em/1.2em Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
  letter-spacing: -0.075em;
}

/* line 65, ../../views/stylesheets/_global.scss */
h3 {
  margin: 20px 0 0 0;
  color: #222222;
  font: 300 1.5em/1.1 Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
}

/* line 70, ../../views/stylesheets/_global.scss */
h4, h5, h6 {
  margin: 0.9em 0 4px 0;
  color: #555555;
  font: 300 1.15em/1 Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
}

/* ============================================================
    Grouping content
============================================================ */
/* line 80, ../../views/stylesheets/_global.scss */
p, pre, ol, ul, dl, figure, figcaption, table, fieldset {
  margin: 0.9em 0 0.9em 0;
}

/* line 84, ../../views/stylesheets/_global.scss */
pre {
  white-space: pre-line;
}

/* line 88, ../../views/stylesheets/_global.scss */
hr {
  clear: both;
  display: block;
  height: 0;
  padding: 0;
  font: 600 2em/1 "Akagi SemiBold", "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  margin: 1em 0 2em 0;
  border: 0;
}

/* line 99, ../../views/stylesheets/_global.scss */
hr::after {
  content: "...";
  height: 0;
  padding-left: 1em;
  color: #bbb;
  letter-spacing: 1em;
}

/* line 107, ../../views/stylesheets/_global.scss */
blockquote {
  color: #666666;
  border-left: 0.25em solid #cccccc;
  margin: 1.0667em 0 1.6em 0;
  padding: 0 1.6em 0 1.334em;
}
/* line 113, ../../views/stylesheets/_global.scss */
blockquote p {
  line-height: 1.6;
  margin: 0.5333em 0;
}

/* line 118, ../../views/stylesheets/_global.scss */
blockquote, q {
  quotes: none;
}
/* line 120, ../../views/stylesheets/_global.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 126, ../../views/stylesheets/_global.scss */
ul {
  list-style-type: inherit;
}
/* line 128, ../../views/stylesheets/_global.scss */
ul ul, ul ol {
  margin-top: 0;
}

/* line 132, ../../views/stylesheets/_global.scss */
ol {
  list-style-type: decimal;
}

/* line 135, ../../views/stylesheets/_global.scss */
li, dd {
  margin-left: 1.8em;
}

/* line 138, ../../views/stylesheets/_global.scss */
li li {
  margin-top: 0;
}

/* line 141, ../../views/stylesheets/_global.scss */
dt {
  font-family: 'Proxima Nova Bold',sans-serif;
  font-weight: bold;
}

/* line 146, ../../views/stylesheets/_global.scss */
figcaption, caption {
  margin: 0.9em 0;
  line-height: 1em;
  color: #a2a2a2;
  font-size: 14px;
  font-family: 'Proxima Nova Regular',sans-serif;
  text-align: left;
  caption-side: bottom;
}

/* line 157, ../../views/stylesheets/_global.scss */
figure img {
  width: 100%;
}

/* line 162, ../../views/stylesheets/_global.scss */
.example {
  outline: 1px solid #EEE;
  margin: 0.9em 0 1em 0;
  padding: 0.5em 1em 1.5em 1em;
}

/* ============================================================
    Text-level semantics
============================================================ */
/* line 172, ../../views/stylesheets/_global.scss */
a {
  color: #056eb6;
  font-size: 100%;
  font-family: arial ,sans-serif;
  text-decoration: none;
}

/* line 180, ../../views/stylesheets/_global.scss */
.main a:hover, .main a:focus {
  color: #045084;
  border-bottom: 1px solid #045084;
}

/* line 187, ../../views/stylesheets/_global.scss */
em, em a, i, var, samp, cite, cite a {
  font: italic 300 1em/90% "Helvetica Neue", sans-serif;
}

/* line 190, ../../views/stylesheets/_global.scss */
strong, b {
  font-weight: 600;
}

/* line 194, ../../views/stylesheets/_global.scss */
:lang(en-gb) > q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 198, ../../views/stylesheets/_global.scss */
q::before {
  content: open-quote;
}
/* line 201, ../../views/stylesheets/_global.scss */
q::after {
  content: close-quote;
}

/* line 206, ../../views/stylesheets/_global.scss */
small {
  font-size: 14px;
  /* 14px */
  line-height: 1em;
  /* 1em */
}

/* line 210, ../../views/stylesheets/_global.scss */
dfn[title], abbr[title]:hover {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  cursor: help;
}

/* line 214, ../../views/stylesheets/_global.scss */
abbr {
  letter-spacing: 1px;
}

/* line 220, ../../views/stylesheets/_global.scss */
time {
  color: #a2a2a2;
  font-family: arial ,sans-serif;
  font-size: 0.75em;
  line-height: 1em;
  text-transform: uppercase;
}

/* line 227, ../../views/stylesheets/_global.scss */
code, samp {
  font: 1em/90% Monaco, Menlo, "Courier New", Courier, monospace;
}

/* line 230, ../../views/stylesheets/_global.scss */
code {
  color: #056eb6;
}

/* line 233, ../../views/stylesheets/_global.scss */
.code {
  margin: 1em 0 0em 2.5em;
  font: 1em/1.714 Monaco, Menlo, "Courier New", Courier, monospace;
  color: #999;
}
/* line 237, ../../views/stylesheets/_global.scss */
.code li {
  list-style: decimal-leading-zero;
  background: #F0F0F0;
  margin: 0 0 -1px 0;
  border-top: 1px solid white;
  padding: 0 0.5em;
}
/* line 244, ../../views/stylesheets/_global.scss */
.code .tab1 {
  padding-left: 4ex;
}

/* line 248, ../../views/stylesheets/_global.scss */
kbd {
  margin: 0 0.4px 0;
  padding: 0.325em 0.375em;
  background-color: #eef8ff;
  color: #023253;
  font: normal 0.875em/90% sans-serif;
  border: 1px solid #bde3fd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}

/* line 258, ../../views/stylesheets/_global.scss */
sub {
  font-size: smaller;
  line-height: 90%;
  vertical-align: sub;
}

/* line 263, ../../views/stylesheets/_global.scss */
sup {
  font-size: smaller;
  line-height: 90%;
  vertical-align: super;
}

/* ============================================================
    Edits
============================================================ */
/* line 272, ../../views/stylesheets/_global.scss */
mark, ins {
  color: #222222;
  background-color: #28a4f9;
  text-decoration: none;
}

/* line 277, ../../views/stylesheets/_global.scss */
del {
  text-decoration: line-through;
}

/* ============================================================
    Tabular data
============================================================ */
/* line 285, ../../views/stylesheets/_global.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 289, ../../views/stylesheets/_global.scss */
td, th {
  padding: 0.5em 1.5em 0.5em 0;
  border-bottom: 1px solid #eeeeee;
  text-align: left;
}

/* line 294, ../../views/stylesheets/_global.scss */
th {
  padding: 0.5em 0 0.44em 0;
  border-bottom-color: #eeeeee;
  color: #056eb6;
  font: 500 1.1em/1em Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
  vertical-align: bottom;
}

/* line 301, ../../views/stylesheets/_global.scss */
td {
  vertical-align: top;
}

/* ============================================================
    Forms
============================================================ */
/* line 309, ../../views/stylesheets/_global.scss */
legend {
  padding-bottom: 0.5em;
}

/* line 313, ../../views/stylesheets/_global.scss */
.field {
  width: 100%;
  padding: 0.35em 0.5em;
  background-color: white;
  border: 1px solid #bbbbbb;
  box-shadow: inset 0 0.05em 0.65em rgba(0, 0, 0, 0.055);
  font: 1em/1.5 sans-serif;
}

/* line 321, ../../views/stylesheets/_global.scss */
label {
  display: block;
  margin: 4px 0;
  font-weight: 400;
  line-height: 1.5;
}
/* line 326, ../../views/stylesheets/_global.scss */
label.check {
  font-weight: normal;
  float: none;
}

/* line 331, ../../views/stylesheets/_global.scss */
input[type="radio"], input[type="checkbox"] {
  margin-right: 0.5em;
}

/* line 335, ../../views/stylesheets/_global.scss */
fieldset div {
  margin: 0.9em 0;
}
/* line 338, ../../views/stylesheets/_global.scss */
fieldset abbr[title="Required"] {
  color: #900;
  font: normal 20px/0.1 sans-serif;
  border-bottom: 0 none;
}
/* line 343, ../../views/stylesheets/_global.scss */
fieldset em {
  display: block;
  margin: 4px 0 4px 0;
  color: #626262;
  font-family: sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1em;
}
/* line 352, ../../views/stylesheets/_global.scss */
fieldset.options {
  clear: left;
}
/* line 354, ../../views/stylesheets/_global.scss */
fieldset.options ul {
  margin: 4px 0 4px 0;
  list-style: none;
}
/* line 357, ../../views/stylesheets/_global.scss */
fieldset.options ul li {
  margin-left: 0;
}
/* line 360, ../../views/stylesheets/_global.scss */
fieldset.options ul label {
  float: none;
  width: auto;
  font-weight: normal;
}

/* line 369, ../../views/stylesheets/_global.scss */
#container {
  margin: 0 auto;
}

/* ============================================================
    Buttons
============================================================ */
/* line 377, ../../views/stylesheets/_global.scss */
button, input[type='submit'], input[type='button'], .button, a {
  -moz-transition-property: all 0.05s ease-in-out;
  -webkit-transition-property: all 0.05s ease-in-out;
  -o-transition-property: all 0.05s ease-in-out;
  transition-property: all 0.05s ease-in-out;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

/* line 380, ../../views/stylesheets/_global.scss */
button, input[type='submit'], input[type='button'], .button {
  -webkit-appearance: none;
  display: inline-block;
  padding: 0.8em 1em;
  border: 0;
  background: #056eb6;
  font: 100%/1 "Helvetica Neue", sans-serif;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.25);
}
/* line 391, ../../views/stylesheets/_global.scss */
button:hover, input[type='submit']:hover, input[type='button']:hover, .button:hover {
  background: #068ce8;
}
/* line 394, ../../views/stylesheets/_global.scss */
button:active, input[type='submit']:active, input[type='button']:active, .button:active {
  background: #045084;
  box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.25), inset 0 0.15em 0.25em rgba(0, 0, 0, 0.25);
}

/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
@media only screen and (min-width: 481px) {
  /* line 34, ../../views/stylesheets/_response.scss */
  body {
    padding: 0 2em;
  }

  /* line 37, ../../views/stylesheets/_response.scss */
  .shell {
    position: relative;
    margin: 0 2em;
  }

  /* line 41, ../../views/stylesheets/_response.scss */
  .field {
    width: 50%;
  }

  /* line 44, ../../views/stylesheets/_response.scss */
  .field.small {
    width: 5em;
  }

  /* line 47, ../../views/stylesheets/_response.scss */
  .field.medium {
    width: 15em;
  }

  /* line 50, ../../views/stylesheets/_response.scss */
  .field.large {
    width: 20em;
  }
}
/* Desktops and laptops (CJC) ----------- */
@media only screen and (min-width: 998px) {
  /* line 57, ../../views/stylesheets/_response.scss */
  label {
    display: block;
    float: left;
    width: 20%;
  }
  /* line 61, ../../views/stylesheets/_response.scss */
  label.check {
    font-weight: normal;
    float: none;
  }

  /* line 67, ../../views/stylesheets/_response.scss */
  fieldset em {
    margin-left: 20%;
  }
  /* line 71, ../../views/stylesheets/_response.scss */
  fieldset.options ul {
    margin-left: 20%;
  }
}
/* Desktops and laptops ----------- */
/* Large screens ----------- */
/* iPhone 4 ----------- */
